.mainWrapper {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px 20px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.adSection {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid;
}

.adSection__bottom {
  display: none;
}

.navbar {
  padding: 10px;
  background-color: rgba(36, 33, 33);
  width: 100%;
  color: rgba(255, 255, 255, 0.938);
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .mainWrapper {
    display: block;
    padding: 0;
  }
  .mainContent {
    padding: 0;
  }
  .adSection {
    display: none;
  }
  .adSection__bottom {
    text-align: center;
    display: block;
  }
}
